.CurrentWeather {
   height: 300px;
   clear: both;
   padding-top: 5px;
   text-align: center;
}

.dailyRange h6 {
    display: inline-block;
 }
 h6 {
    font-size: 32px;
 }
 .currentTemp {
    font-size: 72px;
 }
 
.dailyRange h6:first-of-type {
    padding-right: 10px;
 }
 
 #clear-day {
    background-image: url('../../img/clear-day.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
 }
 
 #clear-night {
    background-image: url('../../img/clear-night.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(190, 190, 11, 0.95);
 }
 
 #rain {
    background-image: url('../../img/rainy.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
 }
 
 #rain .CurrentWeather {
    background-color: rgba(0, 0, 0, 0.1);
 }
 
 #snow {
    background-image: url('../../img/snowy.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
 }
 
 #fog {
    background-image: url('../../img/foggy.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
 }
 
 #cloudy-day {
    background-image: url('../../img/cloudy-day.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
 }

 #partly-cloudy-day {
    background-image: url('../../img/cloudy-day.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
 }
 
 #cloudy-night {
    background-image: url('../../img/cloudy-night.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: rgba(190, 190, 11, 0.95);
 }

 #partly-cloudy-night {
    background-image: url('../../img/cloudy-night.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: rgba(190, 190, 11, 0.95);
 }

 #wind {
   background-image: url('../../img/windy.jpg');
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-repeat: no-repeat;
}

@media screen and (max-width: 650px) and (min-width: 500px) {
   .CurrentWeather h6 {
      font-size: 28px;
   }
}

@media screen and (max-width: 500px) and (min-width: 400px) {
   .CurrentWeather h6 {
      font-size: 24px;
   }
}

@media screen and (max-width: 400px) and (min-width: 300px) {
   .CurrentWeather h3 {
      font-size: 64px;
   }
   .CurrentWeather h6 {
      font-size: 20px;
   }
   .CurrentWeather {
      height: 250px;
   }
}

