/* #scrollContainer {
    border-top: solid 1px rgba(70, 130, 180, 0.3);
    padding-top: 20px;
    border-bottom: 1px solid rgba(70, 130, 180, 0.3);
    margin-bottom: 50px;
    
    overflow-y: hidden;
    white-space: nowrap;
}

#scrollContainer::-webkit-scrollbar {
    display: none;
}

.hourlyForecast {
    border-right: 1px solid rgba(70, 130, 180, 0.5);
    text-align: center;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

p {
    font-size: 12px;
} */


#scrollContainer {
   border-top: solid 1px rgba(70, 130, 180, 0.3);
   padding-top: 20px;
   border-bottom: 1px solid rgba(70, 130, 180, 0.3);
   padding-bottom: 25px;

   overflow-y: hidden;
   white-space: nowrap;
}

#scrollContainer::-webkit-scrollbar {
   display: none;
}

.hourlyForecast {
   border-right: 1px solid rgba(70, 130, 180, 0.5);
   text-align: center;
   display: inline-block;
   padding-left: 40px;
   padding-right: 40px;
}

h3 {
   font-size: 18px;
}

h4 {
   font-size: 14px;
}

p {
   font-size: 12px;
}

.snow #scrollContainer {
   background-color: rgba(211,211,211, 0.6);
}

.rain #scrollContainer {
   background-color: rgba(0, 0, 0, 0.1);
}

.fog #scrollContainer {
   background-color: rgba(211,211,211, 0.6);
}